<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Angular Practice</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div>
			<h1>Angular Expressions</h1>
			<h2>Data Binding</h2>
			<input type="text" ng-model="message" placeholder="type a message here">
			<h3>{{ message }}</h3>
			<h2>Mathematical Expressions</h2>
			<p>3 + 4 = {{ 3 + 4 }}</p>
			<h2>Mad Libs</h2>
			<input type="text" ng-model="noun" placeholder="enter a noun">
			<input type="text" ng-model="adjective" placeholder="enter an adjective">
			<p>The {{ noun }} is very {{ adjective }}</p>
		</div>
		<div ng-controller="TestController as $ctrl">
			<h1>Controllers</h1>
			<h2>String</h2>
			<p>{{ $ctrl.message }}</p>
			<h2>Methods</h2>
			<button ng-click="$ctrl.sayHi();">Say Hi!</button>
		</div>
		<div ng-controller="TimeoutController as timeout">
			<h1>Dependency Injection</h1>
			<h2>{{ timeout.message }}</h2>
		</div>

		<div ng-controller="BeatlesController as ctrl">
			<h1>Repeating an Array of Strings</h1>
			<p ng-repeat="member in ctrl.bandMembers">{{ member }}</p>
		</div>
		<div ng-controller="FamilyController as ctrl">
			<h1>Repeating an Array of Objects</h1>
			<p>{{ ctrl.message }}</p>
			<p ng-repeat="member in ctrl.familyMembers">{{ member.name }} is my {{ member.relation }}, and is {{ member.age }} years old.</p>
		</div>
		<div ng-controller="BeatlesController as ctrl">
			<h1>Filters</h1>
			<p ng-repeat="member in ctrl.bandMembers | orderBy">{{ member | uppercase }}</p>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="module.js"></script>
		<script src="Controllers/testController.js"></script>
		<script src="Controllers/timeoutController.js"></script>
		<script src="Controllers/beatlesController.js"></script>
		<script src="Controllers/familyController.js"></script>
	</body>
</html>