body {
	background-color: pink;
	text-align: center;
}

h1 {
	color: red;
	border: 2px double red;
	margin: 2px auto;
	width: 300px;
	border-radius: 5px;
/*	border-right: none;
	border-left: none;
	border-top: none;*/
}
div {
	border: 5px double red;
	margin: 5px auto;
	width: 600px;
	border-radius: 5px;

}